<div style="display: flex; flex-direction: row; width: 100%; justify-content: center">
  <div style="display: flex; flex-direction: row; width: 50%; justify-content: space-evenly;">
    <app-custom-card>
      @defer (when loaded1()) {
        @for (item of items1(); track item) {
          <div>{{ item }}</div>
        } @empty {
          no items
        }
      } @placeholder {
        <app-loading-spinner />
      }
    </app-custom-card>
    <app-custom-card>
      @defer (when loaded2()) {
        @for (item of items2(); track item) {
          <div>{{ item }}</div>
        } @empty {
          Content is empty™
        }
      } @placeholder {
        <app-loading-spinner-2 />
      }
    </app-custom-card>
  </div>
</div>
